@font-face {
  font-family: Merriweather;
  src: url("/fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Merriweather;
  src: url("/fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Merriweather;
  src: url("/fonts/Merriweather/Merriweather-Italic.ttf") format("truetype");
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

body {
  line-height: 1.45;
  font-family: Merriweather, serif;
}

body.fixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

label,
.label {
  margin: 3em 0 0 0;
  font-size: 0.7em;
  font-family: Merriweather, sans-serif;
  color: #575757;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h1,
h2,
h3 {
  font-style: normal;
  font-family: Merriweather, sans-serif;
}

p {
  margin: 1em 0;
}

form label {
  display: block;
}

form input,
form select {
  display: block;
  margin: 1em 0;
}

form input[type=submit] {
  margin-top: 3em;
  padding: 1em;
  border: none;
  outline: none;
  background-color: #006D0B;
  border: 1px solid #000701;
  color: #fff;
  border-radius: 5px;
  font-family: Merriweather, sans-serif;
  display: none;
}

form input[type=submit][value="Save Changes"] {
  background-color: #FFFBDC;
  color: #242424;
  border: 1px solid #242424;
}

form fieldset {
  border: none;
  padding: 0;
}

form button[type=button] {
  margin: 1em 0;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background-color: #fff;
  color: #006D0B;
  border: 1px solid #006D0B;
  border-radius: 5px;
  font-family: Merriweather, sans-serif;
}

form #advanced-settings-more label:first-child {
  margin-top: 1em;
}

a {
  color: #6e0000;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: underline;
}

a:hover,
a:active {
  color: #a10000;
}

.header {
  position: absolute;
  z-index: 500;
  display: block;
  top: 1em;
  right: 1em;
}

.header nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  width: 60px;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.header nav ul li a {
  opacity: 0.6;
}

.bead {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 100%;
  background-color: transparent;
  border: 3px solid transparent;
}

.bead:after {
  content: " ";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  background-color: #D40000;
  box-shadow: inset 10px 10px 10px rgba(69, 63, 63, 0.26);
  overflow: hidden;
}

.bead:focus,
.bead:active,
.bead--selected {
  outline: none;
  border: 3px solid #006D0B;
}

.bead--filler {
  outline: none;
  border: none;
}

.bead--filler:after {
  background-color: transparent;
  box-shadow: none;
}

.bead--filler:focus,
.bead--filler:active {
  outline: none;
  border: none;
}

.bead--medallion,
.bead--crucifix {
  outline: none;
  border: none;
  border-radius: 0;
}

.bead--medallion:after,
.bead--crucifix:after {
  background-color: transparent;
  box-shadow: none;
}

.bead--medallion:focus,
.bead--medallion:active,
.bead--medallion.bead--selected,
.bead--crucifix:focus,
.bead--crucifix:active,
.bead--crucifix.bead--selected {
  outline: none;
  border: none;
}

.bead--medallion:focus:before,
.bead--medallion:active:before,
.bead--medallion.bead--selected:before,
.bead--crucifix:focus:before,
.bead--crucifix:active:before,
.bead--crucifix.bead--selected:before {
  content: " ";
  display: block;
  position: absolute;
  border: 3px solid #006D0B;
  border-radius: 100%;
}

.bead--medallion {
  width: 59px;
  height: 52px;
  -webkit-transform: rotate(0.26turn) translateY(8px) translateX(-3px);
          transform: rotate(0.26turn) translateY(8px) translateX(-3px);
}

.bead--medallion:focus:before,
.bead--medallion:active:before,
.bead--medallion.bead--selected:before {
  top: -17px;
  left: -8px;
  width: 75px;
  height: 75px;
}

.bead--crucifix:focus:before,
.bead--crucifix:active:before,
.bead--crucifix.bead--selected:before {
  top: -9px;
  left: -14px;
  width: 71px;
  height: 118px;
}

.bead--crucifix svg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bead--our-father {
  width: 48px;
  height: 48px;
}

.bead--our-father:after {
  width: 36px;
  height: 36px;
}

.rosary-wrapper-wrapper {
  display: block;
  position: absolute;
  width: 900px;
  height: 900px;
  right: calc(50% - 450px);
  bottom: -650px;
}

.rosary-wrapper {
  position: absolute;
  width: 900px;
  height: 900px;
  top: 0;
  left: 0;
}

.rosary {
  position: absolute;
  width: 900px;
  height: 900px;
  top: 0;
  left: 0;
}

.rosary #next-prayer-btn-within-beads {
  content: " ";
  display: block;
  position: absolute;
  top: 75px;
  left: 75px;
  width: calc(100% - 150px);
  height: calc(100% - 150px);
  background-color: transparent;
  border-radius: 100%;
  opacity: 0;
}

.rosary-intro {
  position: absolute;
  top: 62px;
  left: calc(50% - 2px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
  flex-wrap: nowrap;
  -webkit-box-align: center;
          align-items: center;
  z-index: 10;
}

.rosary-main-wrapper {
  position: absolute;
  width: 900px;
  height: 900px;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-0.29turn);
          transform: rotate(-0.29turn);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.rosary-intro-chain {
  position: absolute;
  display: block;
  top: 12px;
  left: calc(50% - 3px);
  width: 3px;
  height: 450px;
  background-color: #806B21;
  z-index: 0;
}

.rosary-main {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 450px;
  height: 450px;
}

.rosary-main:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(200% - 39px);
  height: calc(200% - 39px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 3px solid #806B21;
  border-radius: 100%;
}

.rosary-main .bead-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.rosary-main .bead-wrapper:nth-child(1) {
  -webkit-transform: rotate(0.0153846154turn);
          transform: rotate(0.0153846154turn);
}

.rosary-main .bead-wrapper:nth-child(2) {
  -webkit-transform: rotate(0.0307692308turn);
          transform: rotate(0.0307692308turn);
}

.rosary-main .bead-wrapper:nth-child(3) {
  -webkit-transform: rotate(0.0461538462turn);
          transform: rotate(0.0461538462turn);
}

.rosary-main .bead-wrapper:nth-child(4) {
  -webkit-transform: rotate(0.0615384615turn);
          transform: rotate(0.0615384615turn);
}

.rosary-main .bead-wrapper:nth-child(5) {
  -webkit-transform: rotate(0.0769230769turn);
          transform: rotate(0.0769230769turn);
}

.rosary-main .bead-wrapper:nth-child(6) {
  -webkit-transform: rotate(0.0923076923turn);
          transform: rotate(0.0923076923turn);
}

.rosary-main .bead-wrapper:nth-child(7) {
  -webkit-transform: rotate(0.1076923077turn);
          transform: rotate(0.1076923077turn);
}

.rosary-main .bead-wrapper:nth-child(8) {
  -webkit-transform: rotate(0.1230769231turn);
          transform: rotate(0.1230769231turn);
}

.rosary-main .bead-wrapper:nth-child(9) {
  -webkit-transform: rotate(0.1384615385turn);
          transform: rotate(0.1384615385turn);
}

.rosary-main .bead-wrapper:nth-child(10) {
  -webkit-transform: rotate(0.1538461538turn);
          transform: rotate(0.1538461538turn);
}

.rosary-main .bead-wrapper:nth-child(11) {
  -webkit-transform: rotate(0.1692307692turn);
          transform: rotate(0.1692307692turn);
}

.rosary-main .bead-wrapper:nth-child(12) {
  -webkit-transform: rotate(0.1846153846turn);
          transform: rotate(0.1846153846turn);
}

.rosary-main .bead-wrapper:nth-child(13) {
  -webkit-transform: rotate(0.2turn);
          transform: rotate(0.2turn);
}

.rosary-main .bead-wrapper:nth-child(14) {
  -webkit-transform: rotate(0.2153846154turn);
          transform: rotate(0.2153846154turn);
}

.rosary-main .bead-wrapper:nth-child(15) {
  -webkit-transform: rotate(0.2307692308turn);
          transform: rotate(0.2307692308turn);
}

.rosary-main .bead-wrapper:nth-child(16) {
  -webkit-transform: rotate(0.2461538462turn);
          transform: rotate(0.2461538462turn);
}

.rosary-main .bead-wrapper:nth-child(17) {
  -webkit-transform: rotate(0.2615384615turn);
          transform: rotate(0.2615384615turn);
}

.rosary-main .bead-wrapper:nth-child(18) {
  -webkit-transform: rotate(0.2769230769turn);
          transform: rotate(0.2769230769turn);
}

.rosary-main .bead-wrapper:nth-child(19) {
  -webkit-transform: rotate(0.2923076923turn);
          transform: rotate(0.2923076923turn);
}

.rosary-main .bead-wrapper:nth-child(20) {
  -webkit-transform: rotate(0.3076923077turn);
          transform: rotate(0.3076923077turn);
}

.rosary-main .bead-wrapper:nth-child(21) {
  -webkit-transform: rotate(0.3230769231turn);
          transform: rotate(0.3230769231turn);
}

.rosary-main .bead-wrapper:nth-child(22) {
  -webkit-transform: rotate(0.3384615385turn);
          transform: rotate(0.3384615385turn);
}

.rosary-main .bead-wrapper:nth-child(23) {
  -webkit-transform: rotate(0.3538461538turn);
          transform: rotate(0.3538461538turn);
}

.rosary-main .bead-wrapper:nth-child(24) {
  -webkit-transform: rotate(0.3692307692turn);
          transform: rotate(0.3692307692turn);
}

.rosary-main .bead-wrapper:nth-child(25) {
  -webkit-transform: rotate(0.3846153846turn);
          transform: rotate(0.3846153846turn);
}

.rosary-main .bead-wrapper:nth-child(26) {
  -webkit-transform: rotate(0.4turn);
          transform: rotate(0.4turn);
}

.rosary-main .bead-wrapper:nth-child(27) {
  -webkit-transform: rotate(0.4153846154turn);
          transform: rotate(0.4153846154turn);
}

.rosary-main .bead-wrapper:nth-child(28) {
  -webkit-transform: rotate(0.4307692308turn);
          transform: rotate(0.4307692308turn);
}

.rosary-main .bead-wrapper:nth-child(29) {
  -webkit-transform: rotate(0.4461538462turn);
          transform: rotate(0.4461538462turn);
}

.rosary-main .bead-wrapper:nth-child(30) {
  -webkit-transform: rotate(0.4615384615turn);
          transform: rotate(0.4615384615turn);
}

.rosary-main .bead-wrapper:nth-child(31) {
  -webkit-transform: rotate(0.4769230769turn);
          transform: rotate(0.4769230769turn);
}

.rosary-main .bead-wrapper:nth-child(32) {
  -webkit-transform: rotate(0.4923076923turn);
          transform: rotate(0.4923076923turn);
}

.rosary-main .bead-wrapper:nth-child(33) {
  -webkit-transform: rotate(0.5076923077turn);
          transform: rotate(0.5076923077turn);
}

.rosary-main .bead-wrapper:nth-child(34) {
  -webkit-transform: rotate(0.5230769231turn);
          transform: rotate(0.5230769231turn);
}

.rosary-main .bead-wrapper:nth-child(35) {
  -webkit-transform: rotate(0.5384615385turn);
          transform: rotate(0.5384615385turn);
}

.rosary-main .bead-wrapper:nth-child(36) {
  -webkit-transform: rotate(0.5538461538turn);
          transform: rotate(0.5538461538turn);
}

.rosary-main .bead-wrapper:nth-child(37) {
  -webkit-transform: rotate(0.5692307692turn);
          transform: rotate(0.5692307692turn);
}

.rosary-main .bead-wrapper:nth-child(38) {
  -webkit-transform: rotate(0.5846153846turn);
          transform: rotate(0.5846153846turn);
}

.rosary-main .bead-wrapper:nth-child(39) {
  -webkit-transform: rotate(0.6turn);
          transform: rotate(0.6turn);
}

.rosary-main .bead-wrapper:nth-child(40) {
  -webkit-transform: rotate(0.6153846154turn);
          transform: rotate(0.6153846154turn);
}

.rosary-main .bead-wrapper:nth-child(41) {
  -webkit-transform: rotate(0.6307692308turn);
          transform: rotate(0.6307692308turn);
}

.rosary-main .bead-wrapper:nth-child(42) {
  -webkit-transform: rotate(0.6461538462turn);
          transform: rotate(0.6461538462turn);
}

.rosary-main .bead-wrapper:nth-child(43) {
  -webkit-transform: rotate(0.6615384615turn);
          transform: rotate(0.6615384615turn);
}

.rosary-main .bead-wrapper:nth-child(44) {
  -webkit-transform: rotate(0.6769230769turn);
          transform: rotate(0.6769230769turn);
}

.rosary-main .bead-wrapper:nth-child(45) {
  -webkit-transform: rotate(0.6923076923turn);
          transform: rotate(0.6923076923turn);
}

.rosary-main .bead-wrapper:nth-child(46) {
  -webkit-transform: rotate(0.7076923077turn);
          transform: rotate(0.7076923077turn);
}

.rosary-main .bead-wrapper:nth-child(47) {
  -webkit-transform: rotate(0.7230769231turn);
          transform: rotate(0.7230769231turn);
}

.rosary-main .bead-wrapper:nth-child(48) {
  -webkit-transform: rotate(0.7384615385turn);
          transform: rotate(0.7384615385turn);
}

.rosary-main .bead-wrapper:nth-child(49) {
  -webkit-transform: rotate(0.7538461538turn);
          transform: rotate(0.7538461538turn);
}

.rosary-main .bead-wrapper:nth-child(50) {
  -webkit-transform: rotate(0.7692307692turn);
          transform: rotate(0.7692307692turn);
}

.rosary-main .bead-wrapper:nth-child(51) {
  -webkit-transform: rotate(0.7846153846turn);
          transform: rotate(0.7846153846turn);
}

.rosary-main .bead-wrapper:nth-child(52) {
  -webkit-transform: rotate(0.8turn);
          transform: rotate(0.8turn);
}

.rosary-main .bead-wrapper:nth-child(53) {
  -webkit-transform: rotate(0.8153846154turn);
          transform: rotate(0.8153846154turn);
}

.rosary-main .bead-wrapper:nth-child(54) {
  -webkit-transform: rotate(0.8307692308turn);
          transform: rotate(0.8307692308turn);
}

.rosary-main .bead-wrapper:nth-child(55) {
  -webkit-transform: rotate(0.8461538462turn);
          transform: rotate(0.8461538462turn);
}

.rosary-main .bead-wrapper:nth-child(56) {
  -webkit-transform: rotate(0.8615384615turn);
          transform: rotate(0.8615384615turn);
}

.rosary-main .bead-wrapper:nth-child(57) {
  -webkit-transform: rotate(0.8769230769turn);
          transform: rotate(0.8769230769turn);
}

.rosary-main .bead-wrapper:nth-child(58) {
  -webkit-transform: rotate(0.8923076923turn);
          transform: rotate(0.8923076923turn);
}

.rosary-main .bead-wrapper:nth-child(59) {
  -webkit-transform: rotate(0.9076923077turn);
          transform: rotate(0.9076923077turn);
}

.rosary-main .bead-wrapper:nth-child(60) {
  -webkit-transform: rotate(0.9230769231turn);
          transform: rotate(0.9230769231turn);
}

.rosary-main .bead-wrapper:nth-child(61) {
  -webkit-transform: rotate(0.9384615385turn);
          transform: rotate(0.9384615385turn);
}

.rosary-main .bead-wrapper:nth-child(62) {
  -webkit-transform: rotate(0.9538461538turn);
          transform: rotate(0.9538461538turn);
}

.rosary-main .bead-wrapper:nth-child(63) {
  -webkit-transform: rotate(0.9692307692turn);
          transform: rotate(0.9692307692turn);
}

.rosary-main .bead-wrapper:nth-child(64) {
  -webkit-transform: rotate(0.9846153846turn);
          transform: rotate(0.9846153846turn);
}

.rosary-main .bead-wrapper:nth-child(65) {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.rosary-main .bead-wrapper .bead {
  position: absolute;
  top: 0;
  right: 0;
}

.rosary-main .bead-wrapper .bead--our-father {
  margin-right: -3px;
}

.prayers {
  position: absolute;
  width: calc(50% - 50px);
  height: calc(100vh - 100px);
  right: calc(50%);
  top: 50px;
  color: #242424;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 100;
  overflow: auto;
  font-size: 1em;
  background-color: #fff;
  padding: 1em;
  box-shadow: 0px 0px 14px 12px rgba(255, 255, 255, 0.95), inset 0px 0px 14px 12px rgba(255, 255, 255, 0.95);
  left: 0;
  right: auto;
  height: calc(100vh - 60vh);
  width: 100%;
}

@media (max-width: 500px) {
  .prayers {
    font-size: 0.85em;
  }
}

.prayers__content {
  position: relative;
}

.prayer {
  display: none;
}

.prayer--current {
  display: block;
}

.prayer__image {
  display: block;
  position: relative;
  width: 100%;
}

.prayer__image img {
  position: relative;
  display: block;
  width: 50%;
  width: 100%;
}

.red-text {
  color: #D40000;
}

.modal__inner {
  display: block;
  position: relative;
  padding: 5em 2em;
  width: 100%;
  margin: 0 auto;
}

.modal__close {
  position: absolute;
  top: 2em;
  right: 2em;
  opacity: 0.5;
}

#next-prayer {
  opacity: 0;
  z-index: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#template-home::after {
  content: " ";
  display: block;
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
}

