@font-face {
  font-family: Merriweather;
  src: url("/fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Merriweather;
  src: url("/fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Merriweather;
  src: url("/fonts/Merriweather/Merriweather-Italic.ttf") format("truetype");
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

body {
  line-height: 1.45;
  font-family: Merriweather, serif;
  color: #fff;
  background-color: #242424;
}

body.fixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

label,
.label {
  margin: 3em 0 0 0;
  font-size: 0.7em;
  font-family: Merriweather, sans-serif;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h1,
h2,
h3 {
  font-style: normal;
  font-family: Merriweather, sans-serif;
}

p {
  margin: 1em 0;
}

form label {
  display: block;
}

form input,
form select {
  display: block;
  margin: 1em 0;
}

form input[type=submit] {
  margin-top: 3em;
  padding: 1em;
  border: none;
  outline: none;
  background-color: #006D0B;
  border: 1px solid #000701;
  color: #fff;
  border-radius: 5px;
  font-family: Merriweather, sans-serif;
  display: none;
}

form input[type=submit][value="Save Changes"] {
  background-color: #FFFBDC;
  color: #fff;
  border: 1px solid #fff;
}

form fieldset {
  border: none;
  padding: 0;
}

form button[type=button] {
  margin: 1em 0;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Merriweather, sans-serif;
}

form #advanced-settings-more label:first-child {
  margin-top: 1em;
}

a {
  color: #fff;
  transition: color 0.3s ease;
  text-decoration: underline;
}

a:hover,
a:active {
  color: #e6e6e6;
}

.header {
  position: absolute;
  z-index: 500;
  display: block;
  top: 1em;
  right: 1em;
}

.header nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  width: 60px;
  justify-content: space-between;
}

.header nav ul svg {
  fill: #fff;
}

.bead {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 100%;
  background-color: transparent;
  border: 3px solid transparent;
}

.bead:after {
  content: " ";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: inset 10px 10px 10px rgba(69, 63, 63, 0.26), 0px 0px 10px #000;
  overflow: hidden;
}

.bead:focus,
.bead:active,
.bead--selected {
  outline: none;
  border: 3px solid #ccc;
}

.bead--filler {
  outline: none;
  border: none;
}

.bead--filler:after {
  background-color: transparent;
  box-shadow: none;
}

.bead--filler:focus,
.bead--filler:active {
  outline: none;
  border: none;
}

.bead--medallion,
.bead--crucifix {
  outline: none;
  border: none;
  border-radius: 0;
}

.bead--medallion:after,
.bead--crucifix:after {
  background-color: transparent;
  box-shadow: none;
}

.bead--medallion:focus,
.bead--medallion:active,
.bead--medallion.bead--selected,
.bead--crucifix:focus,
.bead--crucifix:active,
.bead--crucifix.bead--selected {
  outline: none;
  border: none;
}

.bead--medallion:focus:before,
.bead--medallion:active:before,
.bead--medallion.bead--selected:before,
.bead--crucifix:focus:before,
.bead--crucifix:active:before,
.bead--crucifix.bead--selected:before {
  content: " ";
  display: block;
  position: absolute;
  border: 3px solid #ccc;
  border-radius: 100%;
}

.bead--medallion {
  width: 59px;
  height: 52px;
  transform: rotate(0.26turn) translateY(8px) translateX(-3px);
}

.bead--medallion:focus:before,
.bead--medallion:active:before,
.bead--medallion.bead--selected:before {
  top: -17px;
  left: -8px;
  width: 75px;
  height: 75px;
}

.bead--crucifix:focus:before,
.bead--crucifix:active:before,
.bead--crucifix.bead--selected:before {
  top: -9px;
  left: -14px;
  width: 71px;
  height: 118px;
}

.bead--crucifix svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bead--our-father {
  width: 48px;
  height: 48px;
}

.bead--our-father:after {
  width: 36px;
  height: 36px;
}

.rosary-wrapper-wrapper-mask {
  height: 50vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.rosary-wrapper-wrapper {
  display: block;
  position: absolute;
  width: 900px;
  height: 900px;
  right: calc(50% - 455px);
  bottom: -690px;
  z-index: 200;
}

.rosary-wrapper {
  position: absolute;
  width: 900px;
  height: 900px;
  top: 0;
  left: 0;
}

.rosary {
  position: absolute;
  width: 900px;
  height: 900px;
  top: 0;
  left: 0;
}

.rosary #next-prayer-btn-within-beads {
  content: " ";
  display: block;
  position: absolute;
  top: 75px;
  left: 75px;
  width: calc(100% - 150px);
  height: calc(100% - 150px);
  background-color: transparent;
  border-radius: 100%;
  opacity: 0;
}

.rosary-intro {
  position: absolute;
  top: 62px;
  left: calc(50% - 2px);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: center;
  z-index: 10;
}

.rosary-main-wrapper {
  position: absolute;
  width: 900px;
  height: 900px;
  top: 0;
  left: 0;
  transform: rotate(-0.29turn);
  transform-origin: center;
}

.rosary-intro-chain {
  position: absolute;
  display: block;
  top: 12px;
  left: calc(50% - 3px);
  width: 3px;
  height: 450px;
  background-color: #fff;
  z-index: 0;
}

.rosary-main {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 450px;
  height: 450px;
}

.rosary-main:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(200% - 39px);
  height: calc(200% - 39px);
  transform: translate(-50%, -50%);
  border: 3px solid #fff;
  border-radius: 100%;
}

.rosary-main .bead-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: left;
}

.rosary-main .bead-wrapper:nth-child(1) {
  transform: rotate(0.0153846154turn);
}

.rosary-main .bead-wrapper:nth-child(2) {
  transform: rotate(0.0307692308turn);
}

.rosary-main .bead-wrapper:nth-child(3) {
  transform: rotate(0.0461538462turn);
}

.rosary-main .bead-wrapper:nth-child(4) {
  transform: rotate(0.0615384615turn);
}

.rosary-main .bead-wrapper:nth-child(5) {
  transform: rotate(0.0769230769turn);
}

.rosary-main .bead-wrapper:nth-child(6) {
  transform: rotate(0.0923076923turn);
}

.rosary-main .bead-wrapper:nth-child(7) {
  transform: rotate(0.1076923077turn);
}

.rosary-main .bead-wrapper:nth-child(8) {
  transform: rotate(0.1230769231turn);
}

.rosary-main .bead-wrapper:nth-child(9) {
  transform: rotate(0.1384615385turn);
}

.rosary-main .bead-wrapper:nth-child(10) {
  transform: rotate(0.1538461538turn);
}

.rosary-main .bead-wrapper:nth-child(11) {
  transform: rotate(0.1692307692turn);
}

.rosary-main .bead-wrapper:nth-child(12) {
  transform: rotate(0.1846153846turn);
}

.rosary-main .bead-wrapper:nth-child(13) {
  transform: rotate(0.2turn);
}

.rosary-main .bead-wrapper:nth-child(14) {
  transform: rotate(0.2153846154turn);
}

.rosary-main .bead-wrapper:nth-child(15) {
  transform: rotate(0.2307692308turn);
}

.rosary-main .bead-wrapper:nth-child(16) {
  transform: rotate(0.2461538462turn);
}

.rosary-main .bead-wrapper:nth-child(17) {
  transform: rotate(0.2615384615turn);
}

.rosary-main .bead-wrapper:nth-child(18) {
  transform: rotate(0.2769230769turn);
}

.rosary-main .bead-wrapper:nth-child(19) {
  transform: rotate(0.2923076923turn);
}

.rosary-main .bead-wrapper:nth-child(20) {
  transform: rotate(0.3076923077turn);
}

.rosary-main .bead-wrapper:nth-child(21) {
  transform: rotate(0.3230769231turn);
}

.rosary-main .bead-wrapper:nth-child(22) {
  transform: rotate(0.3384615385turn);
}

.rosary-main .bead-wrapper:nth-child(23) {
  transform: rotate(0.3538461538turn);
}

.rosary-main .bead-wrapper:nth-child(24) {
  transform: rotate(0.3692307692turn);
}

.rosary-main .bead-wrapper:nth-child(25) {
  transform: rotate(0.3846153846turn);
}

.rosary-main .bead-wrapper:nth-child(26) {
  transform: rotate(0.4turn);
}

.rosary-main .bead-wrapper:nth-child(27) {
  transform: rotate(0.4153846154turn);
}

.rosary-main .bead-wrapper:nth-child(28) {
  transform: rotate(0.4307692308turn);
}

.rosary-main .bead-wrapper:nth-child(29) {
  transform: rotate(0.4461538462turn);
}

.rosary-main .bead-wrapper:nth-child(30) {
  transform: rotate(0.4615384615turn);
}

.rosary-main .bead-wrapper:nth-child(31) {
  transform: rotate(0.4769230769turn);
}

.rosary-main .bead-wrapper:nth-child(32) {
  transform: rotate(0.4923076923turn);
}

.rosary-main .bead-wrapper:nth-child(33) {
  transform: rotate(0.5076923077turn);
}

.rosary-main .bead-wrapper:nth-child(34) {
  transform: rotate(0.5230769231turn);
}

.rosary-main .bead-wrapper:nth-child(35) {
  transform: rotate(0.5384615385turn);
}

.rosary-main .bead-wrapper:nth-child(36) {
  transform: rotate(0.5538461538turn);
}

.rosary-main .bead-wrapper:nth-child(37) {
  transform: rotate(0.5692307692turn);
}

.rosary-main .bead-wrapper:nth-child(38) {
  transform: rotate(0.5846153846turn);
}

.rosary-main .bead-wrapper:nth-child(39) {
  transform: rotate(0.6turn);
}

.rosary-main .bead-wrapper:nth-child(40) {
  transform: rotate(0.6153846154turn);
}

.rosary-main .bead-wrapper:nth-child(41) {
  transform: rotate(0.6307692308turn);
}

.rosary-main .bead-wrapper:nth-child(42) {
  transform: rotate(0.6461538462turn);
}

.rosary-main .bead-wrapper:nth-child(43) {
  transform: rotate(0.6615384615turn);
}

.rosary-main .bead-wrapper:nth-child(44) {
  transform: rotate(0.6769230769turn);
}

.rosary-main .bead-wrapper:nth-child(45) {
  transform: rotate(0.6923076923turn);
}

.rosary-main .bead-wrapper:nth-child(46) {
  transform: rotate(0.7076923077turn);
}

.rosary-main .bead-wrapper:nth-child(47) {
  transform: rotate(0.7230769231turn);
}

.rosary-main .bead-wrapper:nth-child(48) {
  transform: rotate(0.7384615385turn);
}

.rosary-main .bead-wrapper:nth-child(49) {
  transform: rotate(0.7538461538turn);
}

.rosary-main .bead-wrapper:nth-child(50) {
  transform: rotate(0.7692307692turn);
}

.rosary-main .bead-wrapper:nth-child(51) {
  transform: rotate(0.7846153846turn);
}

.rosary-main .bead-wrapper:nth-child(52) {
  transform: rotate(0.8turn);
}

.rosary-main .bead-wrapper:nth-child(53) {
  transform: rotate(0.8153846154turn);
}

.rosary-main .bead-wrapper:nth-child(54) {
  transform: rotate(0.8307692308turn);
}

.rosary-main .bead-wrapper:nth-child(55) {
  transform: rotate(0.8461538462turn);
}

.rosary-main .bead-wrapper:nth-child(56) {
  transform: rotate(0.8615384615turn);
}

.rosary-main .bead-wrapper:nth-child(57) {
  transform: rotate(0.8769230769turn);
}

.rosary-main .bead-wrapper:nth-child(58) {
  transform: rotate(0.8923076923turn);
}

.rosary-main .bead-wrapper:nth-child(59) {
  transform: rotate(0.9076923077turn);
}

.rosary-main .bead-wrapper:nth-child(60) {
  transform: rotate(0.9230769231turn);
}

.rosary-main .bead-wrapper:nth-child(61) {
  transform: rotate(0.9384615385turn);
}

.rosary-main .bead-wrapper:nth-child(62) {
  transform: rotate(0.9538461538turn);
}

.rosary-main .bead-wrapper:nth-child(63) {
  transform: rotate(0.9692307692turn);
}

.rosary-main .bead-wrapper:nth-child(64) {
  transform: rotate(0.9846153846turn);
}

.rosary-main .bead-wrapper:nth-child(65) {
  transform: rotate(1turn);
}

.rosary-main .bead-wrapper .bead {
  position: absolute;
  top: 0;
  right: 0;
}

.rosary-main .bead-wrapper .bead--our-father {
  margin-right: -3px;
}

.prayers {
  position: absolute;
  width: 100%;
  height: calc(50vh - 62px);
  left: 0;
  right: auto;
  top: 50px;
  color: #fff;
  transition: left 0.3s ease;
  z-index: 100;
  overflow: auto;
  font-size: 1em;
  padding: 1em;
}

@media (max-width: 500px) {
  .prayers {
    font-size: 0.85em;
  }
}

.prayers__content {
  position: relative;
  padding: 0 40px;
}

.prayer {
  position: relative;
  display: none;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.prayer h1,
.prayer h2,
.prayer p {
  color: #fff;
}

.prayer .label {
  margin-top: 6px;
}

.prayer--current {
  display: block;
}

.prayer__copy {
  position: relative;
  z-index: 100;
}

.prayer__image {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #242424;
}

.prayer__image:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
}

.prayer__image--hide-prayers:after {
  height: 25%;
}

.prayer--current .prayer__image {
  display: none;
}

.prayer__image img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.prayers-prev-next {
  position: fixed;
  left: 12px;
  top: 60px;
  width: calc(100% - 24px);
  height: calc(50vh - 60px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prayers-prev-next__prev,
.prayers-prev-next__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: 0;
}

.prayers-prev-next__prev:focus,
.prayers-prev-next__next:focus {
  outline: 0;
}

.prayers-prev-next__prev:focus svg,
.prayers-prev-next__next:focus svg {
  outline: 1px dotted #999;
}

.prayers-prev-next__prev svg,
.prayers-prev-next__next svg {
  display: block;
  fill: #fff;
}

.prayers-reset {
  position: fixed;
  top: 1.5em;
  left: 1em;
  background: none;
  border: none;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.red-text {
  color: #ccc;
}

.modal__inner {
  display: block;
  position: relative;
  padding: 5em 2em;
  width: 100%;
  margin: 0 auto;
}

.modal__close {
  position: absolute;
  top: 2em;
  right: 2em;
}

.modal__close svg {
  fill: #fff;
}

#next-prayer {
  opacity: 0;
  z-index: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

