<div id="template-about" class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only">Home</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>

        <h1>About</h1>

        <p>HolyRosaryOnline.com is a website meant to help people pray the
        Rosary. It is an open source project maintained by web developer Matt
        Watson. Different options are available in
        <a href="/settings" data-navigo>Settings</a>.</p>

        <p>Click the beads as you go along, or click anywhere inside the rosary
        to go to the next bead.</p>

        <p>Email <a href="mailto:matt@mattwatson.org">matt@mattwatson.org</a>
        for questions or <a href="https://github.com/mateowatson/holyrosaryonline/issues">
        leave an issue on the GitHub page</a>.</p>

        <h2>Sources</h2>

        <p>The texts of the prayers were taken in fair use from various sources.</p>

        <h2>Artwork</h2>

        <p>Artwork has been added by default as an aid to contemplation. You may
            find out more about these images on the <a href="/artwork" data-navigo>artwork
            page</a>.</p>
    </div>
</div>