<div id="template-home">
    <button id="next-prayer">Next Prayer</button>

    <div aria-live="polite" class="prayers" id="prayers">
        <div class="prayers__content prayers-content" id="prayers-content">

        </div>
        <div class="prayers-prev-next">
            <button class="prayers-prev-next__prev" data-rosary-prev>
                <span class="sr-only">Previous</span>
                <span class="prayers-prev-next__prev-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>
                </span>
            </button>
            <button class="prayers-prev-next__next" data-rosary-next>
                <span class="sr-only">Next</span>
                <span class="prayers-prev-next__next-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
                </span>
            </button>
            <button class="prayers-prev-next__reset" data-rosary-reset>
                Reset
            </button>
        </div>
        
    </div>

    
    <div class="rosary-wrapper-wrapper-mask">
    <div class="rosary-wrapper-wrapper">
    <div class="rosary-wrapper">
    <div class="rosary">
        <div class="rosary-intro-chain"></div>
        <div class="rosary-intro">
            <div class="bead-wrapper"><button class="rosary-intro__crucifix bead bead--crucifix" id="crucifix">
                <svg width="53" height="102" viewBox="0 0 53 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30.2053 3.05746L30.1627 23.0574L50.1627 23.1L50.1478 30.1L37.1478 30.0723L35.6457 31.0691L32.6414 33.0627L30.1372 35.0574L30.1223 42.0574L31.118 44.0595L31.1117 47.0595L30.1042 50.5574L29.9999 99.5572L23 99.5423L23.0989 53.0425L22.5957 54.5414L21.1021 51.5382L21.1106 47.5382L22.6138 46.0414L21.6149 45.5393L21.6191 43.5393L23.1191 43.5425L21.6276 39.5393L21.1372 35.0382L19.1415 33.034L17.1436 32.0297L14.6457 31.0244L3.14577 30.9999L3.16279 23L23.1627 23.0425L23.2053 3.04256L30.2053 3.05746Z" fill="#fff" stroke="#ccc" stroke-width="4"/>
                </svg>
                <span class="sr-only">Sign of the Cross</span>
            </button></div>

            <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>
            <div class="bead-wrapper"><button class="rosary-intro__our-father bead bead--our-father" id="intro-our-father-1"><span class="sr-only">Our Father</span></button></div>
            <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>

            <div class="bead-wrapper"><button class="rosary-intro__hail-mary bead" id="intro-hail-mary-1"><span class="sr-only">Hail Mary</span></button></div>
            <div class="bead-wrapper"><button class="rosary-intro__hail-mary bead" id="intro-hail-mary-2"><span class="sr-only">Hail Mary</span></button></div>
            <div class="bead-wrapper"><button class="rosary-intro__hail-mary bead" id="intro-hail-mary-3"><span class="sr-only">Hail Mary</span></button></div>

            <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>
            <div class="bead-wrapper"><button class="rosary-intro__our-father bead bead--our-father" id="intro-our-father-2"><span class="sr-only">Our Father</span></button></div>
            <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>
        </div>

        <div class="rosary-main-wrapper">
            <div class="rosary-main">
                <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>
                <div class="bead-wrapper medallion"><button class="bead bead--medallion" id="medallion">
                    <!-- Medallion
                    <div class="bead"></div> -->
                    <svg width="59" height="52" viewBox="0 0 59 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35.6514 44.9919C32.7178 49.7185 25.8402 49.7185 22.9066 44.9919L3.64349 13.955C0.542614 8.95888 4.13567 2.5 10.0159 2.5H48.5421C54.4223 2.5 58.0154 8.95889 54.9145 13.955L35.6514 44.9919Z" fill="#fff" stroke="#ccc" stroke-width="5"/>
                    </svg>
                    <span class="sr-only">Medallion, end of rosary</span>
                </button></div>
                <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>

                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-1-01"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-1-02"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-1-03"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-1-04"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-1-05"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-1-06"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-1-07"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-1-08"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-1-09"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-1-10"><span class="sr-only">Hail Mary</span></button></div>

                <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>
                <div class="bead-wrapper"><button class="bead bead--our-father" id="our-father-2"><span class="sr-only">Our Father</span></button></div>
                <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>

                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-2-01"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-2-02"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-2-03"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-2-04"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-2-05"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-2-06"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-2-07"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-2-08"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-2-09"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-2-10"><span class="sr-only">Hail Mary</span></button></div>

                <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>
                <div class="bead-wrapper"><button class="bead bead--our-father" id="our-father-3"><span class="sr-only">Our Father</span></button></div>
                <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>

                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-3-01"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-3-02"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-3-03"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-3-04"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-3-05"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-3-06"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-3-07"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-3-08"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-3-09"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-3-10"><span class="sr-only">Hail Mary</span></button></div>

                <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>
                <div class="bead-wrapper"><button class="bead bead--our-father" id="our-father-4"><span class="sr-only">Our Father</span></button></div>
                <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>

                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-4-01"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-4-02"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-4-03"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-4-04"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-4-05"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-4-06"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-4-07"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-4-08"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-4-09"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-4-10"><span class="sr-only">Hail Mary</span></button></div>

                <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>
                <div class="bead-wrapper"><button class="bead bead--our-father" id="our-father-5"><span class="sr-only">Our Father</span></button></div>
                <div class="bead-wrapper bead-wrapper--filler"><div class="bead bead--filler"></div></div>

                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-5-01"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-5-02"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-5-03"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-5-04"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-5-05"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-5-06"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-5-07"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-5-08"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-5-09"><span class="sr-only">Hail Mary</span></button></div>
                <div class="bead-wrapper"><button class="rosary-main__hail-mary bead" id="hail-mary-5-10"><span class="sr-only">Hail Mary</span></button></div>
            </div>
        </div>
    <button id="next-prayer-btn-within-beads"><span class="sr-only">Next Prayer</span></button>
    </div>
    </div>
    </div>
    </div>
</div>