@font-face {
  font-family: Merriweather;
  src: url('/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Merriweather;
  src: url('/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Merriweather;
  src: url('/fonts/Merriweather/Merriweather-Italic.ttf') format('truetype');
  font-style: italic;
}

$red: #D40000;
$gold: #806B21;
$light-gold: #FFFBDC;
$green: #006D0B;
$text-color: #fff;
$bg-color: #242424;

$serif: Merriweather, serif;
$sans-serif: Merriweather, sans-serif;

$desktop: 900px;

// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
*,
*::before,
*::after {
  box-sizing: border-box;
}

@import 'responsive-mixins';

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.object-position {
    &-center {
        object-position: center;
    }

    &-center-top {
        object-position: center top;
    }

    &-center-bottom {
        object-position: center bottom;
    }

    &-right-center {
        object-position: right center;
    }

    &-right-top {
        object-position: right top;
    }

    &-right-bottom {
        object-position: right bottom;
    }

    &-left-center {
        object-position: left center;
    }

    &-left-top {
        object-position: left top;
    }

    &-left-bottom {
        object-position: left bottom;
    }
}

body {
    line-height: 1.45;
    font-family: $serif;
    color: $text-color;
    background-color: $bg-color;
    text-shadow: 1px 1px 2px black;
}

body.fixed {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

label, .label {
    margin: 3em 0 0 0;
    font-size: .7em;
    font-family: $sans-serif;
    color: lighten($text-color, 20%);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

h1, h2, h3 {
    font-style: normal;
    font-family: $sans-serif;
}

p {
    margin: 1em 0;
}

form {
    label {
        display: block;
    }

    input, select {
        display: block;
        margin: 1em 0;
    }

    input[type="submit"] {
        margin-top: 3em;
        padding: 1em;
        border: none;
        outline: none;
        background-color: $green;
        border: 1px solid darken($green, 20%);
        color: #fff;
        border-radius: 5px;
        font-family: $sans-serif;

        // Display none because we autosubmit on form change
        display: none;
    }

    input[type="submit"][value="Save Changes"] {
        background-color: $light-gold;
        color: $text-color;
        border: 1px solid $text-color;
    }

    fieldset {
        border: none;
        padding: 0;
    }

    button[type="button"] {
        margin: 1em 0;
        padding: .5em 1em;
        border: none;
        outline: none;
        background-color: transparent;
        color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: $sans-serif;
    }

    #advanced-settings-more {
        label:first-child {
            margin-top: 1em;
        }
    }
}

a {
    color: #fff;
    transition: color .3s ease;
    text-decoration: underline;

    &:hover, &:active {
        color: darken(#fff, 10%);
    }
}

.header {
    position: absolute;
    z-index: 500;
    display: block;
    top: 1em;
    right: 1em;

    nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        width: 60px;
        justify-content: space-between;

        svg {
            fill: #fff;
        }
    }
}

.bead {
    position: relative;
    display: block;
    width: 42px;
    height: 42px;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 100%;
    background-color: transparent;
    border: 3px solid transparent;

    &:after {
        content: " ";
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        background-color: #fff;
        box-shadow: inset 10px 10px 10px rgba(69, 63, 63, 0.26),
            0px 0px 10px #000;
        overflow: hidden;
    }

    &:focus, &:active, &--selected {
        outline: none;
        border: 3px solid #ccc;
    }

    &--filler {
        outline: none;
        border: none;
        &:after {
            background-color: transparent;
            box-shadow: none;
        }

        &:focus, &:active {
            outline: none;
            border: none;
        }
    }

    &--medallion, &--crucifix {
        outline: none;
        border: none;
        border-radius: 0;

        &:after {
            background-color: transparent;
            box-shadow: none;
        }

        &:focus, &:active, &.bead--selected {
            outline: none;
            border: none;

            &:before {
                content: " ";
                display: block;
                position: absolute;
                border: 3px solid #ccc;
                border-radius: 100%;
            }
        }
    }

    &--medallion {
        &:focus, &:active, &.bead--selected {
            &:before {
                top: -17px;
                left: -8px;
                width: 75px;
                height: 75px;
            }
        }
        width: 59px;
        height: 52px;
        transform: rotate(.26turn) translateY(8px) translateX(-3px);
    }

    &--crucifix {
        &:focus, &:active, &.bead--selected {
            &:before {
                top: -9px;
                left: -14px;
                width: 71px;
                height: 118px;
            }
        }
        svg {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &--our-father {
        width: 48px;
        height: 48px;

        &:after {
            width: 36px;
            height: 36px;
        }

    }
}

.rosary-wrapper-wrapper-mask {
    height: 50vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

    @include min($desktop) {
        width: 50%;
        left: auto;
        right: 0;
    }
}

.rosary-wrapper-wrapper {
    display: block;
    position: absolute;
    width: 900px;
    height: 900px;
    right: calc(50% - 455px);
    bottom: -690px;
    z-index: 200;
}

.rosary-wrapper {
    position: absolute;
    width: 900px;
    height: 900px;
    top: 0;
    left: 0;
}

.rosary {
    position: absolute;
    width: 900px;
    height: 900px;
    top: 0;
    left: 0;
    //transform: scale(.80);

    #next-prayer-btn-within-beads {
        content: " ";
        display: block;
        position: absolute;
        top: 75px;
        left: 75px;
        width: calc(100% - 150px);
        height: calc(100% - 150px);
        background-color: transparent;
        border-radius: 100%;
        opacity: 0;
    }
}

.rosary-intro {
    position: absolute;
    top: 62px;
    left: calc(50% - 2px);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 10;
}

.rosary-main-wrapper {
    position: absolute;
    width: 900px;
    height: 900px;
    top: 0;
    left: 0;
    transform: rotate(-.29turn);
    transform-origin: center;
}

.rosary-intro-chain {
    position: absolute;
    display: block;
    top: 12px;
    left: calc(50% - 3px);
    width: 3px;
    height: 450px;
    background-color: #fff;
    z-index: 0;
}

.rosary-main {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 450px;
    height: 450px;

    &:before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(200% - 39px);
        height: calc(200% - 39px);
        transform: translate(-50%, -50%);
        border: 3px solid #fff;
        border-radius: 100%;
    }

    .bead-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform-origin: left;

        @for $i from 1 through 65 {
            &:nth-child(#{$i}) {
                transform: rotate(#{$i/65 + 'turn'});
            }
        }

        .bead {
            position: absolute;
            top: 0;
            right: 0;

            &--our-father {
                margin-right: -3px;
            }
        }
    }
}

.prayers {
    position: absolute;
    width: 100%;
    height: calc(50vh - 62px);
    left: 0;
    right: auto;
    top: 50px;
    color: $text-color;
    transition: left .3s ease;
    z-index: 100;
    overflow: auto;
    font-size: 1em;
    padding: 1em;

    @include max(500px) {
        font-size: .85em;
    }

    @include min($desktop) {
        width: 50%;
        left: auto;
        right: 0;
    }

    &__content {
        position: relative;
        padding: 0 40px;
    }
}

.prayer {
    position: relative;
    display: none;

    .label {
        margin-top: 6px;
    }

    &--current {
        display: block;
    }

    &__copy {
        position: relative;
        z-index: 100;
    }

    &__image {
        position: fixed;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: $bg-color;

        @include min($desktop) {
            width: 50%;
        }

        &:after {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(
                to bottom,
                rgba(0,0,0,.90),
                transparent
            );

            @include min($desktop) {
                display: none;
            }
        }

        &--hide-prayers {
            &:after {
                height: 25%;
            }
        }

        .prayer--current & {
            display: none;
        }

        img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
    }
}

.prayers-prev-next {
    position: fixed;
    left: 12px;
    top: 60px;
    width: calc(100% - 24px);
    height: calc(50vh - 60px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include min($desktop) {
        width: calc(50% - 24px);
        left: auto;
        right: 12px;
    }

    &__prev, &__next {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 30px;
        height: 100%;
        padding: 50px 0 0 0;
        margin: 0;
        background: none;
        border: none;
        outline: 0;

        &:focus {
            outline: 0;

            svg {
                outline: 1px dotted #999;
            }
        }

        svg {
            display: block;
            fill: #fff;
        }
    }
}

.prayers-reset {
    position: fixed;
    top: 1.5em;
    left: 1em;
    background: none;
    border: none;
    color: #fff;
    text-shadow: 1px 1px 2px black;

    @include min($desktop) {
        left: calc(50% + 1em);
    }
}

.red-text {
    color: #ccc;
}

.modal {
    &__inner {
        display: block;
        position: relative;
        padding: 5em 2em;
        width: 100%;
        margin: 0 auto;
    }

    &__close {
        position: absolute;
        top: 2em;
        right: 2em;

        svg {
            fill: #fff;
        }
    }
}

#next-prayer {
    opacity: 0;
    z-index: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#template-home {
    // &::after {
    //     content: " ";
    //     display: block;
    //     position: absolute;
    //     height: 50px;
    //     width: 100%;
    //     background-color: #fff;
    //     top: 0;
    //     left: 0;
    // }
}