<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only">Home</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>

        <h1 class="label">St. John of Damascus, Excerpt from the Second Sermon On
        the Assumption of Mary</h1>

        <p>When the Ark of God, departing from Mount Sion for the heavenly
        country, was borne on the shoulders of the Apostles, it was placed on
        the way in the tomb. First it was taken through the city, as a bride
        dazzling with spiritual radiance, and then carried to the sacred place of
        Gethsemane, angels overshadowing it with their wings, going before,
        accompanying, and following it, together with the whole assembly of the
        Church. King Solomon compelled all the elders of Israel in Sion to bear
        the ark of the covenant of the Lord from the city of David, that is Sion,
        to rest in the temple of the Lord, which he had built, and the priests
        took the ark and the tabernacle of the testimony, and the priests and
        levites raised it. And the king and all the people sacrificed numberless
        oxen and sheep before the ark. And the priests carried in the ark of the
        testimony of God into its place, into the Holy of Holies, beneath the
        wings of the cherubim. So is it now with the dwelling-place of the true
        ark, no longer of the testimony, but the very substance of God the Word.
        The new Solomon, the Prince of peace, the Creator of all things in the
        heavens and on the earth, assembled together to-day the supporters of
        the new covenant, that is the Apostles, with all the people of the
        saints in Jerusalem, brought in her soul through angels to the true Holy
        of Holies, under the wings of the four living creatures, and set her on
        His throne within the veil, where Christ Himself had preceded her. Her
        body the while is borne by the Apostles&rsquo; hands, the King of Kings
        covering her with the splendour of His invisible Godhead, the whole
        assembly of the saints preceding her, with sacred song and sacrifice of
        praise until through the tomb it was placed in the delights of Eden, the
        heavenly tabernacles.</p>

        <p>[&hellip;]</p>

        <p>Then they reached the most sacred Gethsemane, and once more there
        were embracings and prayers and panegyrics, hymns and tears, poured
        forth by sorrowful and loving hearts. They mingled a flood of weeping
        and sweating. And thus the immaculate (πανάγιον) body was laid in the
        tomb. Then it was assumed after three days to the heavenly mansions. The
        bosom of the earth was no fitting receptacle for the Lord&rsquo;s
        dwelling-place, the living source of cleansing water, the corn of
        heavenly bread, the sacred vine of divine wine, the evergreen and
        fruitful olive-branch of God&rsquo;s mercy. And just as the all holy
        body of God&rsquo;s Son, which was taken from her, rose from the dead on
        the third day, it followed that she should be snatched from the tomb,
        that the mother should be united to her Son; and as He had come down to
        her, so she should be raised up to Him, into the more perfect
        dwelling-place, heaven itself. It was meet that she, who had sheltered
        God the Word in her own womb, should inhabit the tabernacles of her Son.
        And as our Lord said it behoved Him to be concerned with His
        Father&rsquo;s business, so it behoved His mother that she should dwell
        in the courts of her Son, in the house of the Lord, and in the courts of
        the house of our God. If all those who rejoice dwell in Him, where must
        the cause itself of joy abide? It was fitting that the body of her, who
        preserved her virginity unsullied in her motherhood, should be kept from
        corruption even after death. She who nursed her Creator as an infant at
        her breast, had a right to be in the divine tabernacles. The place of
        the bride whom the Father had espoused, was in the heavenly courts. It
        was fitting that she who saw her Son die on the cross, and received in
        her heart the sword of pain which she had not felt in childbirth, should
        gaze upon Him seated next to the Father. The Mother of God had a right
        to the possession of her Son, and as handmaid and Mother of God to the
        worship of all creation. The inheritance of the parents ever passes to
        the children. Now, as a wise man said, the sources of sacred waters are
        above. The Son made all creation serve His Mother.</p>

        <hr>

        <p>
            John of Damascus, Saint.
            <em>St John Damascene on Holy Images (πρὸς τοὺς διαβάλλοντας τᾶς
            ἁγίας εἰκόνας). Followed by Three Sermons on the Assumption
            (κοίμησις)</em>.
            Trans. Allies, Mary H. (Mary Helen), 1852-1927.
            Project Gutenberg: September 9, 2015.
            <a href="https://www.gutenberg.org/ebooks/49917">
                www.gutenberg.org
            </a>
        </p>
    </div>
</div>