<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only">Home</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>

        <h1 class="label">Luke 2:1-21 (RSVCE)</h1>

        <p><sup>2</sup>In those days a decree went out from Caesar Augustus that
        all the world should be enrolled. <sup>2</sup>This was the first
        enrollment, when Quirin&prime;i-us was governor of Syria.
        <sup>3</sup>And all went to be enrolled, each to his own city.
        <sup>4</sup>And Joseph also went up from Galilee, from the city of
        Nazareth, to Judea, to the city of David, which is called Bethlehem,
        because he was of the house and lineage of David, <sup>5</sup>to be
        enrolled with Mary, his betrothed, who was with child. <sup>6</sup>And
        while they were there, the time came for her to be delivered.
        <sup>7</sup>And she gave birth to her first-born son and wrapped him in
        swaddling cloths, and laid him in a manger, because there was no place
        for them in the inn.</p>

        <p><sup>8</sup>And in that region there were shepherds out in the field,
        keeping watch over their flock by night. <sup>9</sup>And an angel of the
        Lord appeared to them, and the glory of the Lord shone around them, and
        they were filled with fear. <sup>10</sup>And the angel said to them,
        &ldquo;Be not afraid; for behold, I bring you good news of a great joy
        which will come to all the people; <sup>11</sup>for to you is born this
        day in the city of David a Savior, who is Christ the Lord.
        <sup>12</sup>And this will be a sign for you: you will find a babe
        wrapped in swaddling cloths and lying in a manger.&rdquo;
        <sup>13</sup>And suddenly there was with the angel a multitude of the
        heavenly host praising God and saying,</p>

        <blockquote><sup>14</sup>&ldquo;Glory to God in the highest,<br>
        and on earth peace among men with whom he is pleased!&rdquo;</blockquote>

        <p><sup>15</sup>When the angels went away from them into heaven, the
        shepherds said to one another, &ldquo;Let us go over to Bethlehem and
        see this thing that has happened, which the Lord has made known to
        us.&rdquo; <sup>16</sup>And they went with haste, and found Mary and
        Joseph, and the babe lying in a manger. <sup>17</sup>And when they saw
        it they made known the saying which had been told them concerning this
        child; <sup>18</sup>and all who heard it wondered at what the shepherds
        told them. <sup>19</sup>But Mary kept all these things, pondering them
        in her heart. <sup>20</sup>And the shepherds returned, glorifying and
        praising God for all they had heard and seen, as it had been told them.</p>

        <p><sup>21</sup>And at the end of eight days, when he was circumcised, he
        was called Jesus, the name given by the angel before he was conceived
        in the womb.</p>

        <hr>

        <p><em>The Revised Standard Version of the Bible: Catholic Edition</em>.
        The Division of Christian Education of the
        National Council of the Churches of Christ in the United States of
        America, 1965, 1966.
        <a href="https://www.biblegateway.com/">
            www.biblegateway.com
        </a></p>
    </div>
</div>