<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only"><hro-localize>Home</hro-localize></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>


        <h1 class="label">Matthew 26:36-39 (RSVCE)</h1>

        <p>Then Jesus went with them to a place called
        Gethsem&prime;ane, and he said to his disciples, &ldquo;Sit here, while
        I go yonder and pray.&rdquo; And taking with him Peter and
        the two sons of Zeb&prime;edee, he began to be sorrowful and troubled.
        Then he said to them, &ldquo;My soul is very sorrowful,
        even to death; remain here, and watch with me.&rdquo; And
        going a little farther he fell on his face and prayed, &ldquo;My Father,
        if it be possible, let this cup pass from me; nevertheless, not as I
        will, but as thou wilt.&rdquo;</p>

        <hr>

        <p><em>The Revised Standard Version of the Bible: Catholic Edition</em>.
        The Division of Christian Education of the
        National Council of the Churches of Christ in the United States of
        America, 1965, 1966.
        <a href="https://www.biblegateway.com/">
            www.biblegateway.com
        </a></p>
    </div>
</div>




