<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only">Home</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>


        <h1 class="label">Matthew 26:17-29 (RSVCE)</h1>

        <p><sup>17</sup>Now on the first day of Unleavened Bread the disciples came
        to Jesus, saying, &ldquo;Where will you have us prepare for you to eat
        the passover?&rdquo; <sup>18</sup>He said, &ldquo;Go into the city to
        such a one, and say to him, &lsquo;The Teacher says, My time is at hand;
        I will keep the passover at your house with my disciples.&lsquo;&rdquo;
        <sup>19</sup>And the disciples did as Jesus had directed them, and they
        prepared the passover.</p>

        <p><sup>20</sup>When it was evening, he sat at table with the twelve
        disciples; <sup>21</sup>and as they were eating, he said, &ldquo;Truly,
        I say to you, one of you will betray me.&rdquo; <sup>22</sup>And they
        were very sorrowful, and began to say to him one after another,
        &ldquo;Is it I, Lord?&rdquo; <sup>23</sup>He answered, &ldquo;He who has
        dipped his hand in the dish with me, will betray me. <sup>24</sup>The
        Son of man goes as it is written of him, but woe to that man by whom the
        Son of man is betrayed! It would have been better for that man if he had
        not been born.&rdquo; <sup>25</sup>Judas, who betrayed him, said,
        &ldquo;Is it I, Master?&rdquo; He said to him, &ldquo;You have said
        so.&rdquo;</p>

        <p><sup>26</sup>Now as they were eating, Jesus took bread, and blessed, and
        broke it, and gave it to the disciples and said, &ldquo;Take, eat; this
        is my body.&rdquo; <sup>27</sup>And he took a cup, and when he had given
        thanks he gave it to them, saying, &ldquo;Drink of it, all of you;
        <sup>28</sup>for this is my blood of the covenant, which is poured out
        for many for the forgiveness of sins. <sup>29</sup>I tell you I shall
        not drink again of this fruit of the vine until that day when I drink it
        new with you in my Father&rsquo;s kingdom.&rdquo;</p>

        <hr>

        <p><em>The Revised Standard Version of the Bible: Catholic Edition</em>.
        The Division of Christian Education of the
        National Council of the Churches of Christ in the United States of
        America, 1965, 1966.
        <a href="https://www.biblegateway.com/">
            www.biblegateway.com
        </a></p>
    </div>
</div>