<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only">Home</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>


        <h1 class="label">Matthew 27:33-56 (RSVCE)</h1>

        <p><sup>33</sup>And when they came to a place called Gol&prime;gotha (which
        means the place of a skull), <sup>34</sup>they offered him wine to
        drink, mingled with gall; but when he tasted it, he would not drink it.
        <sup>35</sup>And when they had crucified him, they divided his garments
        among them by casting lots; <sup>36</sup>then they sat down and kept
        watch over him there. <sup>37</sup>And over his head they put the charge
        against him, which read, &ldquo;This is Jesus the King of the
        Jews.&rdquo; <sup>38</sup>Then two robbers were crucified with him, one
        on the right and one on the left. <sup>39</sup>And those who passed by
        derided him, wagging their heads <sup>40</sup>and saying, &ldquo;You who
        would destroy the temple and build it in three days, save yourself! If
        you are the Son of God, come down from the cross.&rdquo; <sup>41</sup>So
        also the chief priests, with the scribes and elders, mocked him, saying,
        <sup>42</sup>&ldquo;He saved others; he cannot save himself. He is the
        King of Israel; let him come down now from the cross, and we will
        believe in him. <sup>43</sup>He trusts in God; let God deliver him now,
        if he desires him; for he said, &lsquo;I am the Son of
        God.&rsquo;&rdquo; <sup>44</sup>And the robbers who were crucified with
        him also reviled him in the same way.<p>

        <p><sup>45</sup>Now from the sixth hour there was darkness over all the land
        until the ninth hour. <sup>46</sup>And about the ninth hour Jesus cried with a
        loud voice, &ldquo;Eli, Eli, la&prime;ma sabach-tha&prime;ni?&rdquo;
        that is, &ldquo;My God, my God, why hast thou forsaken me?&rdquo;
        <sup>47</sup>And some of the bystanders hearing it said, &ldquo;This man is
        calling Eli&prime;jah.&rdquo; <sup>48</sup>And one of them at once ran and
        took a sponge, filled it with vinegar, and put it on a reed, and
        gave it to him to drink. <sup>49</sup>But the others said, &ldquo;Wait, let us
        see whether Eli&prime;jah will come to save him.&rdquo; <sup>50</sup>And
        Jesus cried again with a loud voice and yielded up his spirit.</p>

        <p><sup>51</sup>And behold, the curtain of the temple was torn in two, from
        top to bottom; and the earth shook, and the rocks were split;
        <sup>52</sup>the tombs also were opened, and many bodies of the saints who
        had fallen asleep were raised, <sup>53</sup>and coming out of the tombs
        after his resurrection they went into the holy city and appeared
        to many. <sup>54</sup>When the centurion and those who were with him,
        keeping watch over Jesus, saw the earthquake and what took place,
        they were filled with awe, and said, &ldquo;Truly this was the
        Son of God!&rdquo;</p>

        <p><sup>55</sup>There were also many women there, looking on from afar, who
        had followed Jesus from Galilee, ministering to him; <sup>56</sup>among
        whom were Mary Mag&prime;dalene, and Mary the mother of James and
        Joseph, and the mother of the sons of Zeb&prime;edee.</p>

        <hr>

        <p><em>The Revised Standard Version of the Bible: Catholic Edition</em>.
        The Division of Christian Education of the
        National Council of the Churches of Christ in the United States of
        America, 1965, 1966.
        <a href="https://www.biblegateway.com/">
            www.biblegateway.com
        </a></p>
    </div>
</div>




