<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only"><hro-localize>Home</hro-localize></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>

        <h1 class="label">Luke 24:44-53 (RSVCE)</h1>

        <p>Then he said to them, &ldquo;These are my words which I spoke to you, while I was still with you, that everything written about me in the law of Moses and the prophets and the psalms must be fulfilled.&rdquo; Then he opened their minds to understand the scriptures, and said to them, &ldquo;Thus it is written, that the Christ should suffer and on the third day rise from the dead, and that repentance and forgiveness of sins should be preached in his name to all nations, beginning from Jerusalem. You are witnesses of these things. And behold, I send the promise of my Father upon you; but stay in the city, until you are clothed with power from on high.&rdquo;</p>

        <p>Then he led them out as far as Bethany, and lifting up his hands he blessed them. While he blessed them, he parted from them and was carried up into heaven. And they worshiped him, and returned to Jerusalem with great joy, and were continually in the temple blessing God.</p>

        <hr>

        <p><em>The Revised Standard Version of the Bible: Catholic Edition</em>.
        The Division of Christian Education of the
        National Council of the Churches of Christ in the United States of
        America, 1965, 1966.
        <a href="https://www.biblegateway.com/">www.biblegateway.com</a></p>
    </div>
</div>