<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only"><hro-localize>Home</hro-localize></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>


        <h1 class="label">Matthew 27:46-54 (RSVCE)</h1>

        <p>And about the ninth hour Jesus cried with a
        loud voice, &ldquo;Eli, Eli, la&prime;ma sabach-tha&prime;ni?&rdquo;
        that is, &ldquo;My God, my God, why hast thou forsaken me?&rdquo;
        And some of the bystanders hearing it said, &ldquo;This man is
        calling Eli&prime;jah.&rdquo; And one of them at once ran and
        took a sponge, filled it with vinegar, and put it on a reed, and
        gave it to him to drink. But the others said, &ldquo;Wait, let us
        see whether Eli&prime;jah will come to save him.&rdquo; And
        Jesus cried again with a loud voice and yielded up his spirit.</p>

        <p>And behold, the curtain of the temple was torn in two, from
        top to bottom; and the earth shook, and the rocks were split;
        the tombs also were opened, and many bodies of the saints who
        had fallen asleep were raised, and coming out of the tombs
        after his resurrection they went into the holy city and appeared
        to many. When the centurion and those who were with him,
        keeping watch over Jesus, saw the earthquake and what took place,
        they were filled with awe, and said, &ldquo;Truly this was the
        Son of God!&rdquo;</p>

        <div class="citation">
            <hr>

            <p><em>The Revised Standard Version of the Bible: Catholic Edition</em>.
            The Division of Christian Education of the
            National Council of the Churches of Christ in the United States of
            America, 1965, 1966.
            <a href="https://www.biblegateway.com/">www.biblegateway.com</a></p>
        </div>
    </div>
</div>




