<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only">Home</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>


        <h1 class="label">Matthew 17:1-8 (RSVCE)</h1>

        <p><sup>17</sup>And after six days Jesus took with him Peter and James and
        John his brother, and led them up a high mountain apart. <sup>2</sup>And
        he was transfigured before them, and his face shone like the sun, and
        his garments became white as light. <sup>3</sup>And behold, there
        appeared to them Moses and Eli&prime;jah, talking with him.
        <sup>4</sup>And Peter said to Jesus, &ldquo;Lord, it is well that we are
        here; if you wish, I will make three booths here, one for you and one
        for Moses and one for Eli′jah.&rdquo; <sup>5</sup>He was still speaking,
        when lo, a bright cloud overshadowed them, and a voice from the cloud
        said, &ldquo;This is my beloved Son, with whom I am well pleased; listen
        to him.&rdquo; <sup>6</sup>When the disciples heard this, they fell on
        their faces, and were filled with awe. <sup>7</sup>But Jesus came and
        touched them, saying, &ldquo;Rise, and have no fear.&rdquo;
        <sup>8</sup>And when they lifted up their eyes, they saw no one but
        Jesus only.</p>

        <hr>

        <p><em>The Revised Standard Version of the Bible: Catholic Edition</em>.
        The Division of Christian Education of the
        National Council of the Churches of Christ in the United States of
        America, 1965, 1966.
        <a href="https://www.biblegateway.com/">
            www.biblegateway.com
        </a></p>
    </div>
</div>