<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only">Home</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>

        <h1 class="label">St. John of Damascus, Excerpt from the Second Sermon On
        the Assumption of Mary</h1>

        <p>And thus the immaculate (πανάγιον) body was laid in the
        tomb. Then it was assumed after three days to the heavenly mansions. The
        bosom of the earth was no fitting receptacle for the Lord&rsquo;s
        dwelling-place, the living source of cleansing water, the corn of
        heavenly bread, the sacred vine of divine wine, the evergreen and
        fruitful olive-branch of God&rsquo;s mercy. And just as the all holy
        body of God&rsquo;s Son, which was taken from her, rose from the dead on
        the third day, it followed that she should be snatched from the tomb,
        that the mother should be united to her Son; and as He had come down to
        her, so she should be raised up to Him, into the more perfect
        dwelling-place, heaven itself. It was meet that she, who had sheltered
        God the Word in her own womb, should inhabit the tabernacles of her Son.
        And as our Lord said it behoved Him to be concerned with His
        Father&rsquo;s business, so it behoved His mother that she should dwell
        in the courts of her Son, in the house of the Lord, and in the courts of
        the house of our God. If all those who rejoice dwell in Him, where must
        the cause itself of joy abide? It was fitting that the body of her, who
        preserved her virginity unsullied in her motherhood, should be kept from
        corruption even after death. She who nursed her Creator as an infant at
        her breast, had a right to be in the divine tabernacles. The place of
        the bride whom the Father had espoused, was in the heavenly courts. It
        was fitting that she who saw her Son die on the cross, and received in
        her heart the sword of pain which she had not felt in childbirth, should
        gaze upon Him seated next to the Father. The Mother of God had a right
        to the possession of her Son, and as handmaid and Mother of God to the
        worship of all creation. The inheritance of the parents ever passes to
        the children. Now, as a wise man said, the sources of sacred waters are
        above. The Son made all creation serve His Mother.</p>

        <hr>

        <p>
            John of Damascus, Saint.
            <em>St John Damascene on Holy Images (πρὸς τοὺς διαβάλλοντας τᾶς
            ἁγίας εἰκόνας). Followed by Three Sermons on the Assumption
            (κοίμησις)</em>.
            Trans. Allies, Mary H. (Mary Helen), 1852-1927.
            Project Gutenberg: September 9, 2015.
            <a href="https://www.gutenberg.org/ebooks/49917">www.gutenberg.org</a>
        </p>
    </div>
</div>