<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only">Home</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>

        <h1 class="label">Sermon of St. Peter Canisius On the Incomparable
        Virgin Mary, Mother of God</h1>

        <p>If we follow St. John Damascene, St. Athanasius and others, are we
        not forced to call Mary Queen, since her father David receiveth the
        highest praise in Scripture as a renowned king, and her son as King of
        kings and Lord of lords, reigning forever? She is Queen, moreover, when
        compared with the Saints who reign like kings in the heavenly kingdom,
        co-heirs with Christ, the great King, placed on the same throne with
        him, as the Scripture saith. And as Queen she is second to none of the
        elect, but in dignity is raised so high above both Angels and men that
        nothing can be higher or holier than she, who alone hath the same Son as
        God the Father, and who seeth above her only God and Christ, and below
        her creatures other than herself.</p>

        <p>The great Athanasius said clearly: Mary is not only the Mother of
        God, but also can be properly and truly called Queen and Lady, since in
        fact the Christ who was born of the Virgin Mother is God and Lord and
        also King. It is to this Queen, therefore, that the Psalmist&rsquo;s words are
        applied: The Queen taketh her place at thy right hand in garments of
        gold. Thus Mary is rightly called Queen, not only of heaven, but also of
        the heavens, as the Mother of the King of Angels, and as the Bride and
        beloved of the King of the heavens. O Mary, most august Queen and most
        faithful Mother, to whom no one prayeth in vain who prayeth devoutly,
        and to whom all mortal men are bound by the enduring memory of so many
        benefits, again and again reverently I beseech thee to accept and be
        pleased with every evidence of my devotion to thee, to value the poor
        gift I offer according to the zeal with which it is offered, and to
        recommend it to thine all-powerful Son.</p>

        <hr>

        <p>
            Peter Canisius, Saint.
            <em>On the Incomparable
            Virgin Mary, Mother of God</em>.
            The Divinum Officium Project. Matins for May 31, 2019, 1960 rubrics.
            <a href="http://divinumofficium.com">
                divinumofficium.com
            </a>
        </p>
    </div>
</div>