<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only">Home</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>


        <h1 class="label">Matthew 27:27-31 (RSVCE)</h1>

        <p><sup>27</sup>Then the soldiers of the governor took Jesus into the
        praetorium, and they gathered the whole battalion before him.
        <sup>28</sup>And they stripped him and put a scarlet robe upon him,
        <sup>29</sup>and plaiting a crown of thorns they put it on his head, and
        put a reed in his right hand. And kneeling before him they mocked him,
        saying, &ldquo;Hail, King of the Jews!&rdquo; <sup>30</sup>And they spat
        upon him, and took the reed and struck him on the head. <sup>31</sup>And
        when they had mocked him, they stripped him of the robe, and put his own
        clothes on him, and led him away to crucify him.</p>

        <hr>

        <p><em>The Revised Standard Version of the Bible: Catholic Edition</em>.
        The Division of Christian Education of the
        National Council of the Churches of Christ in the United States of
        America, 1965, 1966.
        <a href="https://www.biblegateway.com/">
            www.biblegateway.com
        </a></p>
    </div>
</div>




