<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only"><hro-localize>Home</hro-localize></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>

        <h1 class="label">From the Sermons of St. John of Damascus. Second on the Falling-asleep of Blessed Mary.</h1>

        <p>This day the holy and animated Ark of the living God, which had held within it its own Maker, is borne to rest in that Temple of the Lord, which is not made with hands. David, whence it sprang, leapeth before it, and in company with him the Angels dance, the Archangels sing aloud, the Virtues ascribe glory, the Princedoms shout for joy, the Powers make merry, the Lordships rejoice, the Thrones keep holiday, the Cherubim utter praise, and the Seraphim proclaim its glory. This day the Eden of the new Adam receiveth the living garden of delight, wherein the condemnation was annulled, wherein the Tree of Life was planted, wherein our nakedness was covered.</p>

        <div class="citation">
            <hr>

            <p>
                Divinum Officium Project. Matins for August 15, 2018, 1960 rubrics.
                <a href="http://divinumofficium.com">
                    divinumofficium.com
                </a>
            </p>
        </div>
    </div>
</div>