<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only"><hro-localize>Home</hro-localize></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>


        <h1 class="label">John 2:1-11 (RSVCE)</h1>

        <p>On the third day there was a marriage at Cana in Galilee,
        and the mother of Jesus was there; Jesus also was invited to
        the marriage, with his disciples. When the wine failed, the
        mother of Jesus said to him, &ldquo;They have no wine.&rdquo;
        And Jesus said to her, &ldquo;O woman, what have you to do
        with me? My hour has not yet come.&rdquo; His mother said to
        the servants, &ldquo;Do whatever he tells you.&rdquo; Now
        six stone jars were standing there, for the Jewish rites of
        purification, each holding twenty or thirty gallons. Jesus
        said to them, &ldquo;Fill the jars with water.&rdquo; And they filled
        them up to the brim. He said to them, &ldquo;Now draw some
        out, and take it to the steward of the feast.&rdquo; So they took it.
        When the steward of the feast tasted the water now become
        wine, and did not know where it came from (though the servants who had
        drawn the water knew), the steward of the feast called the bridegroom
        and said to him, &ldquo;Every man serves the good wine
        first; and when men have drunk freely, then the poor wine; but you have
        kept the good wine until now.&rdquo; This, the first of his
        signs, Jesus did at Cana in Galilee, and manifested his glory; and his
        disciples believed in him.</p>

        <div class="citation">
            <hr>

            <p><em>The Revised Standard Version of the Bible: Catholic Edition</em>.
            The Division of Christian Education of the
            National Council of the Churches of Christ in the United States of
            America, 1965, 1966.
            <a href="https://www.biblegateway.com/">www.biblegateway.com</a></p>
        </div>
    </div>
</div>