<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only"><hro-localize>Home</hro-localize></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>

        <h1 class="label">Sermón de San Pedro Canisio, Presbítero. De María Madre de Dios, Virgen incomparable</h1>

        <p>Si seguimos a San Juan Damasceno, San Atanasio y otros, ¿por qué no llamar a María Reina, ya que su padre David recibe la mayor alabanza en la Escritura como un rey famoso, y su hijo como Rey de reyes y Señor de señores, reinando para siempre? Ella es la reina, además, en comparación con los santos que reinan como reyes en el reino celestial, coherederos con Cristo, el gran Rey, puestos en el mismo trono con Él, como dice la Escritura. Y como Reina supera en dignidad a los elegidos, y se eleva tanto más arriba que los Ángeles y los santos, que nada puede ser más elevado o más santo que ella, que es la única que tiene al mismo Hijo que Dios Padre, y que ve por encima de ella solo Dios y Cristo, y debajo de Ella sus criaturas.</p>

        <div class="citation">
            <hr>

            <p>
                Divinum Officium Project. Maitines del 31 de mayo de 2019, rúbrica de 1960.
                <a href="http://divinumofficium.com">
                    divinumofficium.com
                </a>
            </p>
        </div>
    </div>
</div>