<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only">Home</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>

        <h1 class="label">Acts 2:1-41 (RSVCE)</h1>

        <p><sup>1</sup>When the day of Pentecost had come, they were all together
        in one place. <sup>2</sup>And suddenly a sound came from heaven like the
        rush of a mighty wind, and it filled all the house where they were
        sitting. <sup>3</sup>And there appeared to them tongues as of fire,
        distributed and resting on each one of them. <sup>4</sup>And they were
        all filled with the Holy Spirit and began to speak in other tongues, as
        the Spirit gave them utterance.</p>

        <p><sup>5</sup>Now there were dwelling in Jerusalem Jews, devout men from
        every nation under heaven. <sup>6</sup>And at this sound the multitude
        came together, and they were bewildered, because each one heard them
        speaking in his own language. <sup>7</sup>And they were amazed and
        wondered, saying, &ldquo;Are not all these who are speaking Galileans?
        <sup>8</sup>And how is it that we hear, each of us in his own native
        language? <sup>9</sup>Par&prime;thians and Medes and E&prime;lamites and
        residents of Mesopota&prime;mia, Judea and Cappado&prime;cia, Pontus and
        Asia, <sup>10</sup>Phryg&prime;ia and Pamphyl&prime;ia, Egypt and the
        parts of Libya belonging to Cyre&prime;ne, and visitors from Rome, both
        Jews and proselytes, <sup>11</sup>Cretans and Arabians, we hear them
        telling in our own tongues the mighty works of God.&rdquo;
        <sup>12</sup>And all were amazed and perplexed, saying to one another,
        &ldquo;What does this mean?&rdquo; <sup>13</sup>But others mocking said,
        &ldquo;They are filled with new wine.&rdquo;</p>

        <p><sup>14</sup>But Peter, standing with the eleven, lifted up his voice
        and addressed them, &ldquo;Men of Judea and all who dwell in Jerusalem,
        let this be known to you, and give ear to my words. <sup>15</sup>For
        these men are not drunk, as you suppose, since it is only the third hour
        of the day; <sup>16</sup>but this is what was spoken by the prophet Joel:</p>

        <blockquote><sup>17</sup>&lsquo;And in the last days it shall be, God declares,<br>
        that I will pour out my Spirit upon all flesh,<br>
        and your sons and your daughters shall prophesy,<br>
        and your young men shall see visions,<br>
        and your old men shall dream dreams;<br>
        <sup>18</sup>yea, and on my menservants and my maidservants in those days<br>
        I will pour out my Spirit; and they shall prophesy.<br>
        <sup>19</sup>And I will show wonders in the heaven above<br>
        and signs on the earth beneath,<br>
        blood, and fire, and vapor of smoke;<br>
        <sup>20</sup>the sun shall be turned into darkness<br>
        and the moon into blood,<br>
        before the day of the Lord comes,<br>
        the great and manifest day.<br>
        <sup>21</sup>And it shall be that whoever calls on the name of the Lord
        shall be saved.&rsquo;</blockquote>

        <p><sup>22</sup>&ldquo;Men of Israel, hear these words: Jesus of Nazareth,
        a man attested to you by God with mighty works and wonders and signs
        which God did through him in your midst, as you yourselves know&mdash;
        <sup>23</sup>this Jesus, delivered up according to the definite plan and
        foreknowledge of God, you crucified and killed by the hands of lawless
        men. <sup>24</sup>But God raised him up, having loosed the pangs of
        death, because it was not possible for him to be held by it.
        <sup>25</sup>For David says concerning him,</p>

        <blockquote>&lsquo;I saw the Lord always before me,<br>
        for he is at my right hand that I may not be shaken;<br>
        <sup>26</sup>therefore my heart was glad, and my tongue rejoiced;<br>
        moreover my flesh will dwell in hope.<br>
        <sup>27</sup>For thou wilt not abandon my soul to Hades,<br>
        nor let thy Holy One see corruption.<br>
        <sup>28</sup>Thou hast made known to me the ways of life;<br>
        thou wilt make me full of gladness with thy presence.&rsquo;</blockquote>

        <p><sup>29</sup>&ldquo;Brethren, I may say to you confidently of the
        patriarch David that he both died and was buried, and his tomb is with
        us to this day. <sup>30</sup>Being therefore a prophet, and knowing that
        God had sworn with an oath to him that he would set one of his
        descendants upon his throne, <sup>31</sup>he foresaw and spoke of the
        resurrection of the Christ, that he was not abandoned to Hades, nor did
        his flesh see corruption. <sup>32</sup>This Jesus God raised up, and of
        that we all are witnesses. <sup>33</sup>Being therefore exalted at the
        right hand of God, and having received from the Father the promise of
        the Holy Spirit, he has poured out this which you see and hear.
        <sup>34</sup>For David did not ascend into the heavens; but he himself
        says,</p>

        <blockquote>&lsquo;The Lord said to my Lord, Sit at my right hand,<br>
        <sup>35</sup>till I make thy enemies a stool for thy feet.&rsquo;</blockquote>

        <p><sup>36</sup>Let all the house of Israel therefore know assuredly that
        God has made him both Lord and Christ, this Jesus whom you crucified.&ldquo;</p>

        <p><sup>37</sup>Now when they heard this they were cut to the heart, and
        said to Peter and the rest of the apostles, &ldquo;Brethren, what shall
        we do?&rdquo; <sup>38</sup>And Peter said to them, &ldquo;Repent, and be
        baptized every one of you in the name of Jesus Christ for the
        forgiveness of your sins; and you shall receive the gift of the Holy
        Spirit. <sup>39</sup>For the promise is to you and to your children and
        to all that are far off, every one whom the Lord our God calls to
        him.&rdquo; <sup>40</sup>And he testified with many other words and
        exhorted them, saying, &ldquo;Save yourselves from this crooked
        generation.&rdquo; <sup>41</sup>So those who received his word were
        baptized, and there were added that day about three thousand souls.</p>

        <hr>

        <p><em>The Revised Standard Version of the Bible: Catholic Edition</em>.
        The Division of Christian Education of the
        National Council of the Churches of Christ in the United States of
        America, 1965, 1966.
        <a href="https://www.biblegateway.com/">
            www.biblegateway.com
        </a></p>
    </div>
</div>