<div class="modal">
    <div class="modal__inner">
        <a href="/" data-navigo class="modal__close">
            <span class="sr-only"><hro-localize>Home</hro-localize></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        </a>

        <h1 class="label">Luke 1:26-31 (RSVCE)</h1>

        <p>In the sixth month the angel Gabriel was sent from God to a
        city of Galilee named Nazareth, to a virgin betrothed to a man whose
        name was Joseph, of the house of David; and the virgin&rsquo;s name was Mary.
        And he came to her and said, &ldquo;Hail, full of grace, the Lord
        is with you!&rdquo; But she was greatly troubled at the
        saying, and considered in her mind what sort of greeting this might be.
        And the angel said to her, &ldquo;Do not be afraid, Mary, for you have
        found favor with God. And behold, you will conceive in your womb
        and bear a son, and you shall call his name Jesus.</p>

        <div class="citation">
            <hr>

            <p><em>The Revised Standard Version of the Bible: Catholic Edition</em>.
            The Division of Christian Education of the
            National Council of the Churches of Christ in the United States of
            America, 1965, 1966.
            <a href="https://www.biblegateway.com/">www.biblegateway.com</a></p>
        </div>
    </div>
</div>